<mat-toolbar>
  <span>Registration</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <!-- <div>
      <app-image-cropper #modal (croppedURLEmitter)="imageSelected($event)"></app-image-cropper>
      <div>
        <button (click)="modal.show()">Crop Image</button>
        <br>
        <img class="img-preview" *ngIf="imgURL" [src]="imgURL">
      </div>
    </div> -->
    <form class="my-form" #authformregister="ngForm" (ngSubmit)="register()">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input  matInput  type ="email" id="email" required  ngModel placeholder="Email" [(ngModel)]="email" name="email" required>
      </mat-form-field>
      <div *ngIf="error.email" class="errorMessage">
        {{ error.email }}
      </div>
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input  matInput  type ="name" id="name" required  ngModel     placeholder="Name" [(ngModel)]="name" name="name"  required>
      </mat-form-field>
      <div *ngIf="error.username" class="errorMessage">
        {{ error.name }}
      </div>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input  matInput  type ="password" id="password"  required  ngModel placeholder="Password" [(ngModel)]="password" name="password" required>
      </mat-form-field>
      <div *ngIf="error.password" class="errorMessage">
        {{ error.password }}
      </div>
      <mat-form-field class="full-width">
        <mat-label>Phone</mat-label>
        <input  matInput    type ="phone" id="phone"  required  ngModel placeholder="Phone" [(ngModel)]="phone" name="phone" required
        
        
        >
      </mat-form-field>
      <div *ngIf="error.phone" class="errorMessage">
        {{ error.phone }}
      </div>
      <mat-form-field>
        <mat-label>Select User Status</mat-label>
        <mat-select   type ="role" id="role"  required  ngModel matInput [(ngModel)]="role" name="type" required>
          <mat-option *ngFor="let t of types" [value]="t.value">
            {{ t.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="error.type" class="errorMessage">
        {{ error.type }}
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [disabled]="!authformregister.valid" (click)="register()" color="primary">Register</button>
  </mat-card-actions>
</mat-card>
