<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <br>
            <br>

            <h4>Des tables à manger scandinaves et baroques en plusieurs formes rectangulaires, carré et rondes avec socles et pieds en blenz : 4, 6 et 8 personnes et sur mesure selon le choix de clients</h4>
        </div>
        <div class="col">
            <img  src="assets/tm1.jpg" class="d-block w-100" height="500px" alt="...">
        </div>

    </div>
    <div class="row">
        <div class="col">
            
            <img   src="assets/tm2.JPG" class="d-block w-100" height="500px" alt="...">

        </div>
        <div class="col">
            <br>
            <br>
            <br>
            <h4>Votre famille est nombreuse, voilà une salle à manger à 8 chaises, a un design moderne, idéal pour ceux qui cherchent à ajouter une touche de style à l'environnement intérieur. 
                Dimensions de la table : 200cm*90cm*90cm
                </h4>

        </div>

    </div>
    <div class="row">
        <div class="col">
            <br>
            <br>
            <br>
            <h4>Une table à manger baroque toute en blenz moderne, chic et pratique, donne une touche de beauté à votre intérieur.</h4>

        </div>
        <div class="col">
            <!-- (click)="resetImg()" -->
            <img  src="assets/tm3.jpg" class="d-block w-100" height="500px" alt="...">


        </div>
    </div>
</div>
