<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <br>
            <br>

            <h4>Notre sélection des tables basses est variée. Notre table basse est de toute évidence robuste, supporte une grande charge avec un design très tendance.</h4>
        </div>
        <div class="col">
            <img src="assets/tb1.jpg" class="d-block w-100" height="500px" alt="...">
        </div>

    </div>
    <div class="row">
        <div class="col">
            
            <img src="assets/tb2.jpg" class="d-block w-100" height="500px" alt="...">

        </div>
        <div class="col">
            <br>
            <br>
            <br>
            <h4>Notre sélection des tables basses est variée. Notre table basse est de toute évidence robuste, supporte une grande charge avec un design très tendance.</h4>

        </div>

    </div>
    <div class="row">
        <div class="col">
            <br>
            <br>
            <br>
            <h4>Table basse en fer forgé avec un très bon look, simple et résistante à l'eau grâce à l'époxy avec une plateau en blenz.</h4>

        </div>
        <div class="col">
           
            <img src="assets/tb3.jpg" class="d-block w-100" height="500px" alt="...">


        </div>
    </div>
</div>
